.login {
    width: 450px;
}
.login > div {
    height: 90px;
}
.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

/* Login Dark */
.loginDark {
    background: #374151;
}
.loginDark > .login {
    background: #23272f;
    box-shadow: 4px 4px 15px rgb(0, 0, 0, 0.6);
}
.loginDark > .login input,
.loginDark > .login input::placeholder, 
.loginDark > .login input, 
.loginDark > .login button {
    border-color: #9099aa;
    color: #9099aa;
}
.loginDark > .login .btn_container button:last-child:hover {
    color: rgba(255, 0, 0);
    border-color: rgba(255, 0, 0) !important;
}
.loginDark > .login .btn_container button:first-child:hover {
    color: rgba(0, 255, 0);
    border-color: rgba(0, 255, 0) !important;
}
.loginDark > .login input:focus, 
.loginDark > .login input:focus ~ button, 
.loginDark > .login input:focus::placeholder {
    color: #149eca;
}

/* Login Light */
.loginLight {
    background: #FFF;
}
.loginLight > .login {
    background: #d5d6d9;
    box-shadow: 4px 4px 15px rgb(0, 0, 0, 0.4);
}
.loginLight > .login h4 {
    color: #000;
}
.loginLight > .login input,
.loginLight > .login input::placeholder, 
.loginLight > .login input, 
.loginLight > .login button {
    border-color: #0009;
    color: #0009;
}
.loginLight > .login .btn_container button:last-child:hover {
    color: rgba(255, 0, 0);
    border-color: rgba(255, 0, 0) !important;
}
.loginLight > .login .btn_container button:first-child:hover {
    color: #008cff;
    border-color: #008cff !important;
}
.loginLight > .login input:focus, 
.loginLight > .login input:focus ~ button, 
.loginLight > .login input:focus::placeholder {
    color: #008cff;
}

