/* Light Mode */
.navLight form,
.navLight form input,
.navLight form button,
.navLight .btn_container button:hover,
.navLight .btn_container > div:hover {
    background: #fff;
}
.navLight,
.navLight form span {
    background: #d5d6d9;
}
.navLight .logo {
    color: #149eca;
}
.navLight form input,
.navLight form button,
.navLight form input::placeholder,
.navLight form span {
    color: #9099aa;
}
.navLight .btn_container button {
    color: #23272f;
}
