nav {
    position: sticky;
    top: 0;
}
nav form {
    height: 38px;
}
nav form input {
    outline: none;
    width: 400px;
}
nav form span {
    font-size: 13px;
    cursor: default;
}
nav .btn_container {
    gap: 5px;
}
nav .btn_container button {
    height: 40px;
    background: none;
}
nav .btn_container .dropdown_menue {
    margin-bottom: 4px;
    line-height: 36px;
}
nav .btn_container .dropdown_menue > div {
    transition: 0.1s;
}
nav .btn_container .dropdown_menue div > button:last-child:hover {
    background: rgba(255, 0, 0, 0.5);
}
nav .btn_container .dropdown_menue span {
    cursor: default;
}
nav .btn_container .dropdown_menue .icon_small img {
    margin-bottom: 2px;
}
nav .btn_container .dropdown_menue div p {
    font-size: 14px;
}

/* Dark Mode */
.navDark form,
.navDark form :is(input , button),
.navDark .btn_container button:hover,
.navDark .btn_container > a:hover > button {
    background: #374151;
}
.navDark .btn_container .dropdown_menue > div {
    background: #ebecf053;
}
.navDark , .navDark form span {
    background: #23272f;
}
.navDark .logo {
    color: #149eca;
}
.navDark form input, 
.navDark form button, 
.navDark form input::placeholder, 
.navDark form span {
    color: #9099aa;
}
.navDark .searchFocus > div , .navDark .searchFocus form {
    background: #ebecf053 !important;
} 
.navDark .searchFocus form :is(input , button) {
    background: transparent;
}
.navDark .btn_container button {
    color: #ebecf0;
}

/* Light Mode */
.navLight form, 
.navLight form input, 
.navLight form button, 
.navLight .btn_container button:hover, 
.navLight .btn_container > div:hover {
    background: #FFF;
}
.navLight , .navLight form span {
    background: #d5d6d9;
}
.navLight .logo {
    color: #149eca;
}
.navLight form input, 
.navLight form button, 
.navLight form input::placeholder, 
.navLight form span {
    color: #9099aa;
}
.navLight .btn_container button {
    color: #23272f;
}