.container {
    grid-template-columns: repeat(4 , 1fr);
}

.cart_products {
    height: 320px;
}

.cart_products img {
    max-height: 130px;
}

.cart_products .title { 
    white-space: nowrap;
    width: 260px;
    text-overflow: ellipsis;
}

.cart_products .add_btn , .cart_products .remove_btn {
    width: 38%;
}